.Benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 60px 16px;
}

.Benefits img {
  max-width: 100%;
  height: auto;
}

.Benefits h2 {
  font-size: 3rem;
  margin-left: 10px;
}

.Benefits span {
  font-weight: 600;
}

.cards-container {
  margin-bottom: 20px;
}

.card {
  padding: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  border-radius: 30px;
}

.card:nth-of-type(1) {
  background-color: #e4f0ff;
}

.card:nth-of-type(2) {
  background-color: rgb(114, 122, 239, 0.1);
}

.card:nth-of-type(3) {
  background-color: rgb(114, 122, 239, 0.1);
}

.card:nth-of-type(4) {
  background-color: #e4f0ff;
}

.card h3 {
  font-size: 1.5rem;
}
