.Details {
  display: flex;
  flex-wrap: wrap;
  margin: 60px 0;
}

.workoutVector2 {
  max-width: 100%;
  height: auto;
}

.details-content {
  background-color: #f2f8ff;
  width: 100%;
  padding: 50px 20px;
}

.details-content h2 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.details-content .title-span {
  font-weight: 600;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
  .Details {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0;
  }

  .img-container {
    width: 35%;
  }

  .details-content {
    width: 520px;
    border-radius: 50px;
  }
}
