footer {
  background-color: #f2f8ff;
  text-align: center;
}

hr {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

footer span {
  font-weight: 700;
}

footer h2 {
  margin: 20px 0;
}

footer h3 {
  font-weight: 500;
}

footer li {
  padding-bottom: 35px;
}

.copyright {
  padding-bottom: 60px;
}

.social-links {
  color: #80adf5;
  background-color: #eff6ff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  margin-right: 16px;
  margin-top: 24px;
  margin: 24px 16px 60px 0;
}

.email-container {
  display: inline-block;
  align-items: center;
  position: relative;
}

.email-input {
  border: none;
  padding: 8px 30px;
  margin-right: 4px;
  border-radius: 8px;
}

.send-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  cursor: pointer;
}

.send-icon:hover {
  color: #4b5092;
}

/* Desktop styles now */
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
  }

  footer hr {
    display: none;
  }

  footer h2,
  footer div:not(.copyright),
  footer ul {
    flex-basis: calc(33.333% - 20px);
  }

  .email-input {
    margin-top: 10px;
    padding: 12px 50px;
  }

  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer li {
    padding-bottom: 15px;
    width: 48%;
  }

  .social-links {
    display: none;
  }

  .copyright {
    margin-top: 40px;
    margin-left: 230px;
  }
}
