nav {
  height: 75px;
  text-align: center;
}

nav ul {
  display: none;
}

h2 {
  font-weight: normal;
  font-size: 2.25rem;
}

.header-span {
  font-weight: bold;
}

/* Desktop styles */
@media screen and (min-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .logo-container h2,
  .nav-links-container li,
  .nav-icon {
    cursor: pointer;
  }

  .nav-links-container {
    width: 20%;
  }

  .nav-links-container ul {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-icon {
    font-size: 1.4rem;
  }
}
