*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: #111235;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  color: white;
  border-radius: 35px;
  background-color: #4b5092;
  padding: 18px 80px;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
}

/* section {
  padding: 0 20px;
} */

ul li {
  list-style-type: none;
}
